.github/**
.vscode/**
src/**
test/**
debug/**
*.ts
*.map
.editorconfig
.eslintrc*
eslint.config.*
tsconfig.json
esbuild.js
.gitignore
untracked/**
bun.lock
node_modules/pioarduino-node-helpers/**
node_modules/**/.*
node_modules/**/tsconfig.json
node_modules/**/*.map
node_modules/**/*.md
node_modules/**/LICENCE
node_modules/**/LICENSE
node_modules/**/LICENSE.txt
node_modules/**/license
node_modules/**/licenses
node_modules/**/CHANGELOG
node_modules/**/README
node_modules/**/readme
node_modules/**/FUNDING*
node_modules/**/fallbacks/**
node_modules/**/test/**
